[submodule "simulation/Unity-Simulation"]
	path = simulation/Unity-Simulation
	url = https://github.com/buvnswrn/AirsimDemo
[submodule "Simulation/Unity Robotics Warehouse/AirsimDemo"]
	path = Simulation/Unity Robotics Warehouse/AirsimDemo
	url = https://github.com/buvnswrn/AirsimDemo.git
[submodule "Services/ajan_pomdp_py"]
	path = Services/ajan_pomdp_py
	url = https://github.com/buvnswrn/ajan_pomdp_py
[submodule "Services/AJAN-Airsim-Python"]
	path = Services/AJAN-Airsim-Python
	url = https://github.com/buvnswrn/AJAN-Airsim-Python
[submodule "Services/AJAN-service"]
	path = Services/AJAN-service
	url = https://github.com/aantakli/AJAN-service.git
